@import "tailwindcss";
@theme {
  --color-primary-50: #fe7373;
  --color-primary-100: #ff5c5c;
  --color-primary-200: #ff4040;
  --color-primary-300: #ff3232;
  --color-primary-400: #d51414;
  --color-primary-500: #b50000;

  --color-dark-50: #333333;
  --color-dark-100: #1a1a1a;
  --color-dark-200: #141414;
  --color-dark-300: #0d0d0d;
  --color-dark-400: #080808;

  /* --color-gold: oklch(65.24% 0.15 85);
  --color-silver: oklch(46.29% 0.015 270);
  --color-bronze: oklch(39.76% 0.1 40); */

  --color-gold: #d08f32;
  --color-silver: #9b9b9b;
  --color-bronze: #c00000;

  --footer-height: 330px;

  --breakpoint-xs: 30rem;

  --font-prime: "Prime", sans-serif;
}

@layer components {
  .hero-bg {
    background: var(--color-dark-100);
    background: radial-gradient(
      circle at 50% -60%,
      var(--color-primary-500) 0%,
      var(--color-primary-400) 15%,
      var(--color-dark-300) 65%
    );
  }

  .header-bg-gradient {
    background: var(--color-dark-100);
    background: radial-gradient(
      circle at 50% 50%,
      var(--color-primary-300) 0%,
      transparent 65%
    );
  }

  .glow-shadow {
    box-shadow:
      0 0 5px var(--color-primary-400),
      0 0 10px var(--color-primary-400),
      0 0 15px var(--color-primary-300);
  }

  .countdown-timer-bg {
    box-shadow:
      0 0 5px var(--color-primary-400),
      0 0 10px var(--color-primary-300);
  }

  .contact-card-bg {
    background-color: var(--color-dark-100);
    background: radial-gradient(
      circle at 85% 0%,
      var(--color-primary-400) 0%,
      var(--color-primary-300) 30%,
      var(--color-dark-100) 75%
    );
  }

  .background-glow {
    filter: drop-shadow(0 0 15px var(--color-primary-400));
  }

  .timeline-card-bg {
    background-color: var(--color-dark-100);
    background: radial-gradient(
      circle at 85% 0%,
      var(--color-primary-400) 0%,
      var(--color-primary-300) 30%,
      var(--color-dark-100) 75%
    );
    opacity: 0.9;
    backdrop-filter: blur(10px);
    will-change: drop-shadow;
    transition: drop-shadow 0.3s ease-in-out;

    @media screen and (min-width: 1080px) {
      drop-shadow: 0 0 10px var(--color-primary-400);
    }
  }

  .faq-item-bg {
    background-color: var(--color-dark-100);
    background: radial-gradient(
      circle at 95% -100%,
      var(--color-primary-400) 0%,
      var(--color-primary-300) 30%,
      var(--color-dark-100) 75%
    );
    will-change: box-shadow;
    transition: box-shadow 0.3s ease-in-out;
  }
  .faq-item-bg-open {
    box-shadow:
      0 0 5px var(--color-primary-200),
      0 0 15px var(--color-primary-400);
  }

  .card-glow {
    @apply shadow-lg;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  }

  .card-glow:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }

  .competition-bg-glow {
    filter: drop-shadow(0 0 8px var(--color-primary-400));

    @media screen and (min-width: 1080px) {
      filter: drop-shadow(0 0 15px var(--color-primary-400));
    }
  }
}

@layer utilities {
  .main-section {
    @apply container mx-auto py-8 lg:py-16;
  }

  .sec-inner-y {
    @apply mt-6 lg:mt-8;
  }

  .top-element {
    @apply z-[20];
  }

  .text-marquee {
    @apply text-lg md:text-2xl lg:text-3xl;
  }

  .nav-link {
    @apply text-base lg:text-lg;
  }
}
