@import "tailwindcss";

@theme {
  --color-primary-100: oklch(72.05% 0.1738 29.18);
  --color-primary-200: oklch(62.31% 0.1738 29.18);
  --color-primary-300: oklch(51.04% 0.1738 29.18);
  --color-primary-400: oklch(44.56% 0.1738 29.18);
  --color-primary-500: oklch(42.08% 0.1738 29.18);

  --color-dark-100: oklch(11.49% 0 0);
  --color-dark-200: oklch(8.49% 0 0);
  --color-dark-300: oklch(5.49% 0 0);
  --color-dark-400: oklch(3.49% 0 0);
}

@layer components {
  .hero-bg {
    background: var(--color-dark-100);
    background: radial-gradient(
      circle at 50% -60%,
      var(--color-primary-400) 0%,
      var(--color-primary-200) 15%,
      var(--color-dark-100) 65%
    );
  }
}
