@import "tailwindcss";
@theme {
  --color-primary-50: #FE7373;
  --color-primary-100: #FF5C5C;
  --color-primary-200: #FF4040;
  --color-primary-300: #FF3232;
  --color-primary-400: #D51414;
  --color-primary-500: #B50000;

  --color-dark-50: #333333;
  --color-dark-100: #1a1a1a;
  --color-dark-200: #141414;
  --color-dark-300: #0d0d0d;
  --color-dark-400: #080808;
}


@layer components {
  .hero-bg {
    background: var(--color-dark-100);
    background: radial-gradient(
      circle at 50% -60%,
      var(--color-primary-500) 0%,
      var(--color-primary-400) 15%,
      var(--color-dark-300) 65%
    );
  }

  .header-bg-gradient {
    background: var(--color-dark-100);
    background: radial-gradient(
      circle at 50% 50%,
      var(--color-primary-300) 0%,
      transparent 65%
    );
  }

  .text-marquee {
    @apply text-lg md:text-2xl lg:text-3xl;
  }

  .nav-link {
    @apply text-base lg:text-lg;
  }

  .glow-shadow {
    box-shadow:
      0 0 5px var(--color-primary-400),
      0 0 10px var(--color-primary-400),
      0 0 15px var(--color-primary-300);
  }

  .countdown-timer-bg {
    box-shadow:
      0 0 5px var(--color-primary-400),
      0 0 10px var(--color-primary-300);
  }

  .top-element {
    @apply z-[20];
  }

  .contact-card-bg {
    background-color: var(--color-dark-400);
    background: radial-gradient(
      circle at 85% 0%,
      var(--color-primary-400) 0%,
      var(--color-dark-300) 55%
    );
  }

  .main-section {
    @apply container mx-auto my-8;
  }

  .background-glow {
    filter: drop-shadow(0 0 25px var(--color-primary-400));
  }

  .timeline-card-bg {
    background-color: var(--color-dark-100);
    background: radial-gradient(
      circle at 85% 0%,
      var(--color-primary-300) 0%,
      var(--color-dark-100) 65%
    );
    opacity: 0.85;
    backdrop-filter: blur(10px);

    @media screen and (min-width: 1080px) {
      drop-shadow: 0 0 10px var(--color-primary-400);
    }
  }

  .faq-item-bg {
    background-color: var(--color-dark-100);
    background: radial-gradient(
      circle at 95% -100%,
      var(--color-primary-300) 0%,
      var(--color-dark-100) 65%
    );
  }
}
